{% extends 'partials/base.html' %}
{% block content %}
<br>
<h4 id="latest_entry">Latest Entry</h4>
<br><br>
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">Fixed</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Latest Fixed</p>
            <h4 class="mb-0" id="latest_temp"></h4>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
          </div>
        </div>
        <hr class="dark horizontal my-0">
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape  shadow-primary text-center border-radius-xl mt-n4 position-absolute" style="background-color: rgb(208, 105, 21);">
            <i class="material-icons opacity-10">Track</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Latest Tracking</p>
            <h4 class="mb-0" id="latest_gas"></h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
        </div>
      </div>
  </div>


<div class="container mt-5">
    <h4 id="solar_data">Solar Data</h4>
    <table class="table table-bordered">
        <thead style=" background-color: rgb(80, 42, 11);">
            <tr>
                <th>DateTime</th>
                <th>Fixed</th>
                <th>Tracking</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in solar_data %}
                <tr>
                    <td>{{ entry.datetime }}</td>
                    <td>{{ entry.fixed }}</td>
                    <td>{{ entry.tracking }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
<div class="row mt-5">
    <div class="col-md-6">
        <!-- Fixed Chart -->
        <h4 id="fixed_chart">Fixed Chart</h4>
        <canvas id="fixedChart" width="600" height="300"></canvas>
    </div>
    <div class="col-md-6">
        <!-- Tracking Chart -->
        <h4 id="tracking_chart">Tracking Chart</h4>
        <canvas id="trackingChart" width="600" height="300"></canvas>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Function to create a chart
        function createChart(chartId, data, options, borderColor) {
            var ctx = document.getElementById(chartId).getContext('2d');
            return new Chart(ctx, {
                type: 'line',
                data: data,
                options: options,
                plugins: [{
                    afterDraw: function (chart) {
                        var ctx = chart.ctx;
                        ctx.strokeStyle = borderColor;
                        ctx.lineWidth = 1;
                        ctx.beginPath();
                        ctx.moveTo(10, chart.chartArea.top);
                        ctx.lineTo(10, chart.chartArea.bottom);
                        ctx.stroke();
                    }
                }]
            });
        }

        // Fixed Chart
        var dataFixed = {
            labels: [{% for entry in solar_data %}'{{ entry.datetime }}',{% endfor %}],
            datasets: [
                {
                    label: 'Fixed',
                    data: [{% for entry in solar_data %}{{ entry.fixed }},{% endfor %}],
                    borderColor: 'rgb(37,37,39)',
                    borderWidth: 1,
                    fill: false
                },
            ]
        };
        var optionsFixed = {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        };
        createChart('fixedChart', dataFixed, optionsFixed, 'rgb(37,37,39)');

        // Tracking Chart
        var dataTracking = {
            labels: [{% for entry in solar_data %}'{{ entry.datetime }}',{% endfor %}],
            datasets: [
                {
                    label: 'Tracking',
                    data: [{% for entry in solar_data %}{{ entry.tracking }},{% endfor %}],
                    borderColor: 'rgb(255, 51, 0)',
                    borderWidth: 1,
                    fill: false
                },
            ]
        };
        var optionsTracking = {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        };
        createChart('trackingChart', dataTracking, optionsTracking, 'rgb(255, 51, 0)');
    });
</script>
<br>

<h4 id="kitchen_chart">Overall Solar Chart</h4>
<canvas id="kitchenChart" width="600" height="300"></canvas>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('kitchenChart').getContext('2d');

        var data = {
            labels: [{% for entry in solar_data %}'{{ entry.datetime }}',{% endfor %}],
            datasets: [
                {
                    label: 'Fixed',
                    data: [{% for entry in solar_data %}{{ entry.fixed }},{% endfor %}],
                    borderColor: 'rgb(37,37,39)',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: 'Tracking',
                    data: [{% for entry in solar_data %}{{ entry.tracking }},{% endfor %}],
                    borderColor: 'rgb(255, 51, 0)',
                    borderWidth: 1,
                    fill: false
                },
            ]
        };

        var options = {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        };

        var chart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options
        });
    });
</script>

  
    
</div>  

<!-- upadate latest entry in card -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var table = document.querySelector('.table');
        var lastRow = table.rows[table.rows.length - 1];
    
        document.querySelector('#latest_temp').textContent = lastRow.cells[1].textContent;
        document.querySelector('#latest_gas').textContent = lastRow.cells[2].textContent;
    });
    </script>
{% endblock %}